<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change_password</servlet-name>
        <servlet-class>change_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgot_password</servlet-name>
        <servlet-class>forgot_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgot_password2</servlet-name>
        <servlet-class>forgot_password2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcategory</servlet-name>
        <servlet-class>addcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllCategory</servlet-name>
        <servlet-class>GetAllCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editcategory</servlet-name>
        <servlet-class>editcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkpassword</servlet-name>
        <servlet-class>checkpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editphoto</servlet-name>
        <servlet-class>editphoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>merchantsignup</servlet-name>
        <servlet-class>merchantsignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>merchantlogin</servlet-name>
        <servlet-class>merchantlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>merchant_checkpassword</servlet-name>
        <servlet-class>merchant_checkpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_email</servlet-name>
        <servlet-class>check_email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_answer</servlet-name>
        <servlet-class>check_answer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetch_shopkeeper</servlet-name>
        <servlet-class>fetch_shopkeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activate_shopkeeper</servlet-name>
        <servlet-class>activate_shopkeeper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change_password</servlet-name>
        <url-pattern>/change_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgot_password</servlet-name>
        <url-pattern>/forgot_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgot_password2</servlet-name>
        <url-pattern>/forgot_password2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcategory</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllCategory</servlet-name>
        <url-pattern>/GetAllCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/DeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editcategory</servlet-name>
        <url-pattern>/editcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkpassword</servlet-name>
        <url-pattern>/checkpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editphoto</servlet-name>
        <url-pattern>/editphoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>merchantsignup</servlet-name>
        <url-pattern>/merchantsignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>merchantlogin</servlet-name>
        <url-pattern>/merchantlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>merchant_checkpassword</servlet-name>
        <url-pattern>/merchant_checkpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_email</servlet-name>
        <url-pattern>/check_email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_answer</servlet-name>
        <url-pattern>/check_answer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetch_shopkeeper</servlet-name>
        <url-pattern>/fetch_shopkeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activate_shopkeeper</servlet-name>
        <url-pattern>/activate_shopkeeper</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
